@use "../abstracts/mixins" as *;

header {
  display: flex;
  padding: 1.3em 1em;
  justify-content: space-between;

  @include respond-to("desktop-up") {
    padding: 2em 2em;
  }
}

.menu__icon {
  background: none;
  border: none;
  align-self: flex-start;
  z-index: 30;

  @include respond-to("desktop-up") {
    display: none;
  }
}
