:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--almost-white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.hero__text {
  order: 2;
  margin: 2.5rem 0.8rem 4rem;

  & p,
  & h1 {
    text-align: center;
  }

  & h1 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0.75rem;
  }

  & p {
    font-weight: 500;
    color: var(--medium-gray);
    line-height: 1.6;
  }
}

.hero__image {
  order: 1;
}

aside {
  margin: 3rem 0;

  & img {
    width: 100%;
    max-height: 36px;
    aspect-ratio: auto;
  }
}

.logo-audiophile {
  width: 70%;
}
